body{
    background-color: #29292A;
    text-align: center;
    color:darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#game{
    border-width: 1px;
    border-radius: 5%;
    background-color: gray;
    border-color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width:300px;
    transition: ease-in-out 0.1s;
    
}
#game:hover{
    font-size: 16px;
    text-decoration:underline;
    width: 400px;
    border-width: 5px;
}
#secret{
    z-index: 1;
    justify-content: right;
    text-align: right;
    height: auto;
    width: auto;
    opacity: 0%;
    position: right;
    transition: opacity ease-in-out 0.1s;
}
#secret:hover{
    opacity: 100%;
}
button{
    border-width: 1px;
    border-radius: 5%;
    background-color: gray;
    border-color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width:250px;
    transition: border-width ease-in-out 0.1s,font-size ease-in-out 0.1s;

}
button:hover{
    font-size: 16px;
    text-decoration:underline;
}
a{
    color: lightgray;
    transition: font-size ease-in-out 0.1s;
}
a:hover{
    font-size: 17.5px;
}
.stuff{
    position: absolute;
    top: 5px;
    z-index: 1;
    justify-content: left;
    text-align: left;

    border: #101010;
    border-width: 10px;
    height: 1060px;
    width: 65px;
}
.home{
    position: absolute;
    top: 5px;
    transition: border-radius ease-in-out 0.1s, background-color ease-in-out 0.1s;
    height: 40px;
}
.home:hover{
    background-color: white;
    border-radius: 10%;
    
}

